@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');


*, *::before, *::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}



:root {
    --text-gray-color: #233506A6;
    --text-blue-color: #02283f;

    --purple-color: #7e4ff2;
    --orange-color: #fd8827;
    --light-orange-color: #fff9f2;
    --brightness-orange-color: #ff800b;
    --white-color: #fff;
    --green-color: #7bbb66;
    --yellow-color: #ffd400;


    --cairo-font: 'Cairo';
    --nunito-font: 'Nunito';


    --small-font-size: 12px;
    --medium-font-size: 18px;
    --big-font-size: 20px;
    --large-font-size: 70px;
    --header-font-size: 84px;
    --wrapper-width: 1170px;
}

.wrapper {
    width: 1170px;
}

.title {
    font-family: var(--nunito-font);
    font-size: var(--large-font-size);
    color: var(--text-gray-color);
    font-weight: bold;

}

.text {
    font-family: var(--cairo-font);
    font-size: var(--medium-font-size);
    color: var(--text-gray-color);
    font-weight: 400;
}

.input {
    width: 200px;
    height: 50px;
    border: 1px solid #646464;
    border-radius: 15px;
    font-family: var(--cairo-font);
    font-size: var(--medium-font-size);
    color: var(--text-gray-color);
    padding-left: 15px;
}